## Pair Programming APIs

1. Extracción de Datos a Nivel Nacional:

- Extraer datos de generación de energía renovable y no renovable a nivel nacional desde el 1 de enero de 2011 hasta el 31 de diciembre de 2022. La información debe ser recopilada a nivel mensual.

- Transformar los datos para incluir una columna nueva que identifique si la energía es renovable o no renovable.

- Almacenar los datos en un DataFrame con la siguiente estructura.

In [ ]:
import pandas as pd
import requests
import re

pd.set_option('display.max_columns', None)

In [18]:
def llamar_api(url):
    
    llamada = requests.get(url)
    
    print(f"La llamada a la API nos ha dado una respuesta de tipo: {llamada.status_code}")
    
    if llamada.status_code != 200:
        print(f"El motivo por el que la llamada falló es {llamada.reason} {llamada.text}")
    else:
        return llamada.json()

In [19]:
url_energia = f"https://apidatos.ree.es/es/datos/generacion/evolucion-renovable-no-renovable?start_date=2021-01-01T00:00&end_date=2022-12-31T23:59&time_trunc=month"

resultados_energia = llamar_api(url_energia)

La llamada a la API nos ha dado una respuesta de tipo: 200

In [ ]:
resultados_energia

In [ ]:
import pandas as pd

if resultados_energia:
    diccionario_energia = {"tipo_energia": [], "tipo_generacion": [], "fecha": [], "valor": []}
    
    for energia in resultados_energia["data"]:
        diccionario_energia["tipo_energia"].append(energia["attributes"]["description"])
        diccionario_energia["tipo_generacion"].append(energia["type"])
        diccionario_energia["fecha"].append(energia["attributes"]["datetime"])
        diccionario_energia["valor"].append(energia["attributes"]["value"])
        
    df_energia = pd.DataFrame(diccionario_energia)
    
    print(df_energia.head())
    
else:
    print("No se pudo obtener la información solicitada.")

AÑADO ESTA PARTE NUEVA AL CÓDIGO

- Falta modificar el tipo de energía

In [45]:
import pandas as pd

tipos_energia = []
tipos_generacion = []
fechas = []
valores = []

for item in resultados_energia['included']:
    tipo_energia = item['attributes']['title']
    tipo_generacion = item['type']
    
    for value in item['attributes']['values']:
        fecha = value['datetime']
        valor = value['value']
        
        tipos_energia.append(tipo_energia)
        tipos_generacion.append(tipo_generacion)
        fechas.append(fecha)
        valores.append(valor)

df_energia = pd.DataFrame({
    'Tipo de Energía': tipos_energia,
    'Tipo de Generación': tipos_generacion,
    'Fecha': fechas,
    'Valor': valores
})

df_energia.head(5)

,Tipo de Energía,Tipo de Generación,Fecha,Valor
0,Renovable,Renovable,2021-01-01T00:00:00.000+01:00,1.256107e+07
1,Renovable,Renovable,2021-02-01T00:00:00.000+01:00,1.235994e+07
2,Renovable,Renovable,2021-03-01T00:00:00.000+01:00,1.179999e+07
3,Renovable,Renovable,2021-04-01T00:00:00.000+02:00,9.240647e+06
4,Renovable,Renovable,2021-05-01T00:00:00.000+02:00,1.043336e+07

2. Extracción de Datos por Comunidad Autónoma:

- Extraer datos de generación de energía renovable y no renovable por Comunidad Autónoma.

- Utilizar el diccionario cod_comunidades para obtener los códigos de cada comunidad autónoma.

- Transformar los datos para incluir una columna que especifique la comunidad autónoma y su identificador.

- Almacenar los datos en un DataFrame con la siguiente estructura.