## Pair Programming Python + SQL

1. Importar las librerías necesarias para crear la conexión y trbajar con Pandas.

In [24]:
!pip install mysql-connector

!pip install mysql-connector-python

Requirement already satisfied: mysql-connector in /home/admin_diana/anaconda3/lib/python3.9/site-packages (2.2.9)
Requirement already satisfied: mysql-connector-python in /home/admin_diana/anaconda3/lib/python3.9/site-packages (8.4.0)

In [25]:
import mysql.connector
from mysql.connector import errorcode

import pandas as pd
import numpy as np

2. Crear la conexión a la base de datos Northwind que devuelva un mensaje de error si algo no ocurre cómo debería.

In [27]:
try:
    conexion = mysql.connector.connect(
        user = 'root',
        host = '127.0.0.1', 
        password = 'AlumnaAdalab',
        database = 'northwind'
    )
    print("Conexión establecida correctamente.")
    
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Algo fue mal con tu user name o password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("La database no existe")
  else:
    print(err)

Conexión establecida correctamente.

3. Usando "information_schema", extraer los nombres de las columnas de la tabla "customers" de la BBDD "northwind".

In [ ]:
mycursor = conexion.cursor()

##query = "SELECT column_name FROM information_schema.columns WHERE table_schema = 'northwind' AND table_name = 'customers'"

query = "SELECT * FROM information_schema.columns WHERE table_schema = 'northwind' AND table_name = 'customers'"

mycursor.execute(query)

resultados = [fila[0] for fila in mycursor.fetchall()]

##resultados = mycursor.fetchall()

print(resultados)

4. Seleccionar todo de la tabla "customers" donde "country" sea "USA" o "Germany". Almacenar los resultados en una variable.

In [ ]:
mycursor = conexion.cursor()

query = "SELECT * FROM customers WHERE country IN ('USA', 'Germany')"

mycursor.excute(query)

resultados = mycursor.fetchall()

print(resultados)

5. Convertir los resultados del ejercicio anterior en un Dataframe (no od olvidéis de poner el nombre a las columnas en el orden correcto).

6. Muestrar las 10 primeras filas del Dataframe y las 10 últimas.

7. Mostrar 5 filas aleatorias del Dataframe.

8. ¿Hay nulos en el Dataframe? El resultado debe verse para cada una de las columnas.

9. Mostrar los principales estadísticos.

10. Mostrar el nombre de las columnas del Dataframe.